CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_netcore_n60-pro=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_netcore_n60-pro=""
CONFIG_TARGET_MULTI_PROFILE=y

CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
# CONFIG_GDB is not set

# CONFIG_PKG_CHECK_FORMAT_SECURITY is not set
# CONFIG_PKG_FORTIFY_SOURCE_1 is not set
CONFIG_PKG_FORTIFY_SOURCE_2=y

# 关掉不需要的 bl2
# CONFIG_PACKAGE_trusted-firmware-a-mt7981-ram-ddr3 is not set
# CONFIG_PACKAGE_trusted-firmware-a-mt7981-ram-ddr4 is not set
# CONFIG_PACKAGE_trusted-firmware-a-mt7986-ram-ddr3 is not set
# CONFIG_PACKAGE_trusted-firmware-a-mt7986-ram-ddr4 is not set
# CONFIG_PACKAGE_trusted-firmware-a-mt7987-ram-comb is not set
# CONFIG_PACKAGE_trusted-firmware-a-mt7988-ram-comb is not set
# CONFIG_PACKAGE_trusted-firmware-a-mt7988-ram-ddr3 is not set
# CONFIG_PACKAGE_trusted-firmware-a-mt7988-ram-ddr4 is not set
# 不编 initramfs
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set

CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_tcpdump=y

# 添加定时重启插件
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-i18n-autoreboot-zh-cn=y