CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_netcore_n60-pro=y
# CONFIG_TARGET_ALL_PROFILES is not set

# 关闭不必要的打包格式，节省时间和空间
CONFIG_TARGET_ROOTFS_TARGZ=n
CONFIG_TARGET_ROOTFS_EXT4FS=n

# 其他你需要的第三方插件可以写在下面，例如：
# CONFIG_PACKAGE_luci-app-passwall=y
# CONFIG_PACKAGE_luci-theme-argon=y